.results {
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    font-size: 14px;
}

.txt_when_not_submitted td{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 14px;   
    filter: blur(2px);
}

.button {
    background-color: lightblue;
    border: 0.5px solid black;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif

}
.button:focus {
    outline: -webkit-focus-ring-color auto 0px;
}
.buttonDelete {
    background-color: orangered;
    border: 0.5px solid black;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif

}
.modulo_filtro {
    margin-left: 50%;
}

.row {
    margin-top:5%;
}